.section-name {
	font-family: 'Barlow', sans-serif;
	color: #FF5B4F;
	font-size: 24px;
	text-align: center;
	margin: 50px 0px 10px 0px;
}

#get-involved, #schedule {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #333F9B;
}

/* button tabs */
button.btn {
	border: 1.25px solid #333F9B;
	color: #FFFFFF;
	background-color: #333F9B;
	font-size: 12px;
	border-radius: 6px;
	padding: 6px 24px;
	transition: all 0.3s ease-in-out; 
	margin: 8px 0px;
	padding: 6px 50px;
}


button.user-btn.active, button.day-btn.active, button.btn:hover {
	color: #333F9B;
	background-color: #EFEFF4;
}

#get-involved .col-md-6 .btn {
	width: 50%;
}

#schedule .btn-group {
	width: 40%;
}

/* schedule content */
#schedule-content > div {
	display: none;
}

#schedule-content > div.active {
	display: block;
	margin: 20px;
}

/* tentative schedule */
.table {
	border-bottom: 1px solid #DEE2E6;
	border-right: 1px solid #DEE2E6;
}

.event > span:nth-child(1) {
	font-weight: 800;
}

/* span.loc {
	color: #B23027;
} */

tr > th {
	font-weight: 400;
}

tr.univ, div.univ {
	border-left: 10px solid #E73F33;
}

tr.univ > th > span {
	color: #E73F33;
}

tr.panel, div.panel {
	border-left: 10px solid #51DBF6;
}

tr.panel > th > span {
	color: #51DBF6;
}

tr.wshop, div.wshop {
	border-left: 10px solid #808CFB;
}

tr.wshop > th > span {
	color: #808CFB;
}

tr.activity, div.activity {
	border-left: 10px solid #FC7361;
}

tr.activity > th > span {
	color: #FC7361;
}

th,td {
	color: #333F9B;
}

tr > th {
	width: 20%;
}

tr > .event {
	width: 75%;
}

tr.wshop > .event {
	width: 60% !important;
}

tr.wshop > .level {
	width: 15% !important;
}

tr > .cal {
	width: 5%;
}

tr > td {
	width: 100%;
}

div.card-header {
	padding: 0;
}

table.table {
	margin: 0;
}

card-header .fa {
  transition: .3s transform ease-in-out;
}

.cal i {
	color: #333F9B;
	font-size: 20px;
	transition: all 0.3s ease-in-out; 
}

.cal i:hover {
	transform: scale(1.1); 
}

td.cal {
	vertical-align: middle;
}

td.level i {
	margin: 2px;
}


/* width of schedule table */
#day1 .card, #day2 .card, #day3 .card {
	width: 52%;
	margin: auto;
}

#schedule div.card-header {
	background-color: #EFEFF4;
}

div.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent;
  border: 0px solid transparent; 
  border-radius: 0.25rem;

}

#schedule div.card-body {
	border-right: 1px solid #DEE2E6;
	border-bottom: 1px solid #DEE2E6;
}

/* FAQ section */
#faqs .card-header button.btn {
	width: 100%;
	margin: 0px;
	border-radius: 4px;
	padding-left: 20px;
	text-align: left;
	font-weight: 800;
	height: 50px;
}

#faqs .card {
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}

#faqs .card .card-header {
	background-color: transparent;
	border-color: transparent;
	margin-top: 20px;
}

#faqs .card .card-body {
	background-color: #EFEFF4;
	color: #333F9B;
	border: 1px solid #333F9B;
	border-top: transparent;
	border-radius: 4px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}


.fa-caret-down {
	font-size: 18px;
	float: right;
	margin-right: -30px;
}

[data-toggle="collapse"][aria-expanded="true"] > .rotate-icon
{
    -webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform:         rotate(180deg);
}



